---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";
import aiuc1 from "../assets/events/aiuc1.webp";
import aiuc2 from "../assets/events/aiuc2.webp";
import aiuc3 from "../assets/events/aiuc3.webp";
import aiuc4 from "../assets/events/aiuc4.webp";
import aiuc5 from "../assets/events/aiuc5.webp";
import aiuc6 from "../assets/events/aiuc6.png";
import Navbar from "../components/Navbar.astro";
---

<Layout title="CS Club Events">
  <main>
    <Navbar />
    <h1 class="title-gradient my-6 text-center text-6xl font-bold">Events</h1>
    <p class="my-4">
      A compilation of local, remote, free to little-cost tech events.
    </p>
    <p>Check out what the club's been up to:</p>
    <iframe
      class="mx-auto my-8"
      src="https://calendar.google.com/calendar/embed?height=560&wkst=1&bgcolor=%2313151a&ctz=America%2FLos_Angeles&showTitle=0&showNav=0&showDate=0&showPrint=0&showCalendars=0&mode=AGENDA&src=1881ec874c6a0f1bd100fee554d4eb16f1a56e072e6c173892ad4e557ec95f66%40group.calendar.google.com&color=%23039BE5"
      style="border-width:0"
      width="100%"
      height="560"
      frameborder="0"
      scrolling="no"></iframe>
    <!-- <iframe src="https://calendar.google.com/calendar/embed?src=1881ec874c6a0f1bd100fee554d4eb16f1a56e072e6c173892ad4e557ec95f66%40group.calendar.google.com&ctz=America%2FLos_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe> -->
    <h3 class="mt-6 text-3xl font-bold">Spring 2024</h3>
    :o
    <h5 class="mt-2 text-2xl font-bold">Unity Day 2/13</h5>
    <p>
      Unity Day is a campus-wide event for students to come have fun, learn
      about clubs and resource programs, and get to know one another. Our table
      will have laptops for interested and prospecting club members to preview a
      live site and shared projects.
    </p>

    <h5 class="mt-2 text-2xl font-bold">
      Custom Keyboard Building Session 2/11
    </h5>

    <p>
      A hands-on opportunity to assemble a keyboard of their choice. We
      coordinated so sourcing the materials, allocating a budget, and having
      experts present at the event support club members of all levels of
      experience to join, learn, and have fun. Presentation slides from the
      event can be found
      <a
        href="https://docs.google.com/presentation/d/1tc-U4HHvUQCQX7wYWQMWdfyXS723-mOh/edit?usp=sharing&ouid=104514190446739025286&rtpof=true&sd=true"
      >
        here.</a
      >
    </p>
    <h5 class="mt-2 text-2xl font-bold">AI User Conference 1/29-1/31</h5>
    <p>
      During this three day event tailored for Marketers, Designers, and
      Developers of AI, there were all kinds of activities and discussions to
      optimize effeciency when using AI products. The event offered networking,
      hands-on application workshops, best practices, and feature updates.
    </p><br />
    <!-- Photo Grid -->
    <div class="grid justify-center gap-y-1">
      <div class="flex gap-2">
        <Picture src={aiuc1} alt="1/29" width="360" />
        <Picture src={aiuc5} alt="1/30" width="360" />
      </div>
      <div class="flex">
        <Picture src={aiuc6} alt="1/31" width="728" />
      </div>
      <div class="flex gap-1">
        <Picture src={aiuc2} alt="1/30" width="240" />
        <Picture src={aiuc3} alt="1/30" width="240" />
        <Picture src={aiuc4} alt="1/30" width="240" />
      </div>
    </div>

    <h5 class="mt-2 text-2xl font-bold">
      Joint Mathematics Meeting (JMM) 2024 1/3-1/6
    </h5>

    <p>
      The largest gathering of mathematical and academic organizations hosted
      annually by The American Mathematical Society (AMS). This year the four
      day event was hosted in the Moscone Center, SF. The CS Club seized this
      local opportunity to listen and absorb information on the guest speakers
      notably, Terry Tao and Donald Knuth. There were hundreds of talks, panels,
      minicourses, and poster sessions available to guests. Notes by attending
      club members can be found on the Wiki[Link to be added].
    </p>

    <h3 class="mt-6 text-3xl font-bold">Fall 2023</h3>

    <h5 class="mt-2 text-2xl font-bold">
      Design Buddies: Founders, Inventors, & Creatives Social 11/21
    </h5>
    <p>
      A networking and social event organized by <a
        href="https://www.designbuddies.community">Design Buddies</a
      > and <a href="https://www.betafi.co">BetaFi</a>. CS members met Grace
      Ling, the founder of a community of 60K+ members to help designers land
      jobs and improve their skills. They offer interactive spaces online,
      through in-person events, and within their ‘talent collective’. An
      impressive entrepreneurial spirit, combining creativity and a programming
      background, and an inspiration to the CS Club vision.
    </p>

    <h5 class="mt-2 text-2xl font-bold">
      AI: How to Build Products People Buy 11/16
    </h5>

    <p>
      Club members ventured into the AI entrepreneurship scene hosted by Healome
      & the SF Founders Creative. This event highlighted how AI entrepeneurship
      grapples with legal complexities such as liability and privacy, technical
      challenges in model scope and data acquisition, and business research.
      Notes on the Wiki[Link to be added].
    </p>

    <h5 class="mt-2 text-2xl font-bold">
      UC Law: 2023 Digital Media & Video Game Conference 11/15
    </h5>

    <p>
      Leading attorneys and business executives in the digital media and video
      game spaces at UC Law SF for robust discussion on a variety of topics sure
      to engage and educate. Presented in an intimate setting, this one-day
      conference also includes opportunities to meet,network and/or re-connect
      with colleagues and friends, including a hosted lunch and evening
      reception.
    </p>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 0.5em;
  }
</style>
